<div class="contents row">
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @tweets.each do |tweet| %>
        <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>   
        <%# <% class="name"><%= tweet.name %>
    <% end %>
</div>